body {
  font-family: 'Roboto', sans-serif;
  color: #000205;
  height: 80%;
  min-height: 80vh;
  
  display: flex;
  flex-direction: column;
}



h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: #335b81;
}



a {
  color: #335b81;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.call_to-btn {
  display: inline-block;
  padding: 12px 32px;
  margin: 5px;
  border-radius: 15px;
  background-color: #003262;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.call_to-btn img,
.sub_call_to-btn img {
  width: 9px;
  margin-left: 15px;
  margin-top: 3px;
}

.call_to-btn:hover,
.sub_call_to-btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);
}

.sub_call_to-btn {
  display: inline-block;
  padding: 10px 28px;
  border-radius: 25px;
  background-color: #003262;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}




/*header section*/
.top_container {
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
  /*margin-bottom: -100px;
  padding-bottom: 100px;*/
}

.header_section {}

nav.navbar.navbar-expand-lg {
  height: 100%;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 0px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 25px;
  color: #003262;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.nav-link:hover {
  text-decoration: underline;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}


.top_container.sub_page {
  height: auto;
}



.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: max(30px, 3.0vw);

  color: #003262;
  font-weight: bold;
  position: relative;
  top: -30px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 0 0 0;
}



.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container-sub {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container-sub .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.custom_nav-container-sub .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}


/*end header section*/

/* hero section */
.hero_section-container {
  width: 80%;
  max-height: 80%;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.number-container {
  position: absolute;
  top: 34%;
  left: 4%;
}

.number-container .number-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #003262;
}

.number-container .number-box hr {
  border: none;
  width: 2px;
  height: 125px;
  background-color: #003262;
  margin: 35px 0;
}

.hero_section-container .hero_img-box {
  /*min-width: 10em;
  max-width: 50%;
  max-height: 90%;
  margin-top: 45px;
  border-radius: 50%; */
  max-width: 40%;
  max-height: 60vh;
  padding: 20px;
  margin-left: 10%;
  /*clip-path: circle(100%);*/
  overflow: hidden; 
  display: block;
  justify-content: center;
  align-items: center;
}

.hero_section-container .hero_img-box img {
  width: 100%;
  height: auto;
  margin-top: -100px;
}

.hero_section-container .hero_detail-box {
  width: 58%;
}

.hero_section-container .hero_detail-box .hero_detail-container {
  padding-left: 45px;
  padding-bottom: 15px;
}

.hero_section-container .hero_detail-box .hero_detail-container p {
  margin: 15px 0 50px 0;
}



.carousel-control-prev,
.carousel-control-next {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #003262;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px;
  top: initial;
  bottom: -100px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #003262;
}



.carousel-control-prev {
  background-image: url(../images/left-arrow.png);
  left: 45px;
}

.carousel-control-next {
  background-image: url(../images/right-arrow.png);
  left: 95px;
}

/* end hero section */

/* about section */
.about_section {
  /*background-color: #f8faf9;*/

}

.about_section .row {
  align-items: center;
}

.about_img-box img {
  width: 100%;
}

.about_detail-box p {
  margin: 45px 0;
}

.call_to-btn_about {
  margin: 5px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 15px;
  background-color: #003262;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end about section */

/* practice section */
.practice_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.practice_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 15px 0 15px;
  transform: translateY(0);
  transition: all .7s;
  padding-bottom: 50px;
}

.practice_box:hover {
  transform: translateY(-50px);
  cursor: pointer;
}

.practice_box:hover .practice_img-box {
  background-color: #003262;
}

.practice_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 225px;
  border-radius: 90px;
  background-color: #003262;

}


.practice_box h4 {
  margin-top: 15px;
}

.practice_img-box img {
  width: 120px;
}

.practice_detail p {
  margin-bottom: 55px;
  text-align: center;
}

.heading-text {
  padding: 0;
  margin: 0;
  color: #003262;
  font-weight: bold;
}




/* end Practice section */

/* welcome section */
.welcome_section {

  /*background-color: #ccd6e0;*/
}

.welcome_container {
  padding: 30px 0;
  min-width: 60%;
}

.welcome_container>* {
  margin-bottom: 35px;
}

.welcome_container h4 {
  font-weight: normal;
}

.welcome_container h4,
.welcome_container p {
  font-family: 'Poppins', sans-serif;
}

.welcome_container p{
  margin: 0;
}

.welcome_section::before {
  content: "";
  width: 40%;
  height: 100%;
  /*background-image: url(https://i.pinimg.com/originals/fc/71/63/fc71635c7f1b09ed30413f59bb749582.gif);*/
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
/* end welcome section */


/* start predoc section */

#predoc {
  padding: 30px 0;
  min-width: 60%;
  display:none;
}

#predoc>* {
  margin-bottom: 35px;
}

#predoc h4 {
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

#predoc p {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#predoc_toggle:hover {
  text-decoration: underline;
}
/* end predoc section */



/* start teaching section */

.teaching_section {
  /*background-color: #f8faf9;*/
}

.teaching_container {
  padding: 30px 0;
  
}

.teaching_container>* {
  margin-bottom: 35px;
}

.teaching_container h4 {
  font-weight: normal;
}

.teaching_container h4,
.teaching_container p {
  font-family: 'Poppins', sans-serif;
}

.teaching_section::before {
  content: "";
  width: 40%;
  height: 100%;
  /*background-image: url(https://cdn.dribbble.com/users/1299339/screenshots/3079111/presentation_d.gif);*/
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/* end teaching section */

/* contact section */
.contact_section .col-md-6 {
  padding: 0;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: 1px solid #003262;
  width: 90%;
  margin: 10px 0;
}

.contact_form-container {
  padding: 45px;
  padding-right: 0;
}

.contact_form-container button {
  border: none;
  background-color: #fddd33;
  color: #fff;
  padding: 8px 40px;
  border-radius: 20px;
}

.contact_img-box {
  display: flex;
  align-items: center;
  padding: 45px;
  padding-left: 0;
}

.contact_img-box img {
  width: 97%;
}

.contact_section h2 {
  font-size: 26px;
  color: #003262;
  font-weight: bold;

  position: relative;
  margin-left: 2.5%;
}



/* end contact section */
/* info section */
.info_section {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #335b81;
  /*background-color: #ccd6e0;*/
  /*bottom:0;*/
  display: flex;
  flex-shrink: 0;
  margin:-100;
  
}

.info_section_footer {
  padding-top: 5px;
  padding-bottom: 0px;
  color: #fff;
  /*background-color: #ccd6e0;*/
  margin-top: auto;
  /*bottom:0;*/
  display: flex;
  flex-shrink: 0;
}

.info_logo {
  max-height: 35px;
}
.info_logo h2 {
  color: #003262;
  font-family: 'Poppins', sans-serif;
  transform: translateY(25%);
}

.info_section .col-md-4 {
  padding: 0 30px;
}

.info_section .col-md-4 h5 {
  text-transform: uppercase;
}

.info_news input {
  border: none;
  width: 80%;
  height: 35px;
  border-radius: 20px;
  background-color: #fff;
  outline: none;
  padding-left: 20px;
  margin-top: 15px;
}

.info_news input::placeholder {
  opacity: .4;
}

.info_news button {
  border: none;
  background-color: #fddd33;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px 25px;
  border-radius: 20px;
  margin-top: 20px;
}

.info_address p {
  margin-bottom: 5px;
}

.info_address_left {
  text-align: right;
}

.custom_border-btm {
  border-bottom: 1px solid #ccd6e0;
}

.info_social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 30px auto;
}

/* end info section */



/* footer section*/

.footer_section {
  background-color: #fdfdfe;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.footer_section p {
  color: #000;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #000;
}

/* end footer section*/

/* RESUME IFRAME */
iframe, object, embed {
  max-width: 100%;
  height: 50rem;
  padding: 10px;
}

.resume-section > h3 {
  text-align: center;
}

.resume-section {
  height: 60rem;
  padding: 40px;
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);

  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

details {
  font-family: 'Roboto', sans-serif;
  color: #000205;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/*abstract expansions
.abstract {
  position: relative;
  overflow: hidden;
  max-height: 80px;
  
}
.abstract:target {
  height: auto;
}

.toggle{
  padding: 2px;
  color: #335b81; 
}

.toggle:focus ~ .abstract {
  max-height: 100%;
}


a.box-toggle {
  display: inline-block;
  padding-left: 22px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: url(http://255.galaxycore.de/img/ic_action_calendar.png);
}

a.box-toggle.inactive {
  background-image: url(http://255.galaxycore.de/img/ic_action_home.png);
}*/


img#twitter {
  max-width: 20px;
}

div.paper {
  padding: 5px;
}


/*data and teaching descriptions*/

img.imginsert{
  max-width: 40vw;
}

div[id^="course"]{
  display:flex;
}

#class_toggle:hover {
  text-decoration: underline;
}

#project_toggle:hover {
  text-decoration: underline;
}

div[id^="proj"]{
  display:flex;
}
